# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

codigos_admb/MAE0321b.b01

codigos_admb/MAE0321b

codigos_admb/MAE0321b.b02

codigos_admb/MAE0321b.b03

codigos_admb/MAE0321b.b04

codigos_admb/MAE0321b.b05

codigos_admb/MAE0321b.b06

codigos_admb/MAE0321b.b07

codigos_admb/MAE0321b.bar

codigos_admb/MAE0321b.cor

codigos_admb/MAE0321b.cpp

codigos_admb/MAE0321b.eva

codigos_admb/MAE0321b.htp

codigos_admb/MAE0321b.log

codigos_admb/MAE0321b.obj

codigos_admb/MAE0321b.p01

codigos_admb/MAE0321b.p02

codigos_admb/MAE0321b.p03

codigos_admb/MAE0321b.p04

codigos_admb/MAE0321b.p05

codigos_admb/MAE0321b.p06

codigos_admb/MAE0321b.p07

codigos_admb/MAE0321b.r01

codigos_admb/MAE0321b.r02

codigos_admb/MAE0321b.r03

codigos_admb/MAE0321b.r04

codigos_admb/MAE0321b.r05

codigos_admb/MAE0321b.r06

codigos_admb/MAE0321b.r07

codigos_admb/MAE0721b

codigos_admb/MAE0721b.b01

codigos_admb/MAE0721b.b02

codigos_admb/MAE0721b.b03

codigos_admb/MAE0721b.b04

codigos_admb/MAE0721b.b05

codigos_admb/MAE0721b.b06

codigos_admb/MAE0721b.b07

codigos_admb/MAE0721b.bar

codigos_admb/MAE0721b.cor

codigos_admb/MAE0721b.cpp

codigos_admb/MAE0721b.eva

codigos_admb/MAE0721b.htp

codigos_admb/MAE0721b.log

codigos_admb/MAE0721b.obj

codigos_admb/MAE0721b.p01

codigos_admb/MAE0721b.p02

codigos_admb/MAE0721b.p03

codigos_admb/MAE0721b.p04

codigos_admb/MAE0721b.p05

codigos_admb/MAE0721b.p06

codigos_admb/MAE0721b.p07

codigos_admb/MAE0721b.r01

codigos_admb/MAE0721b.r02

codigos_admb/MAE0721b.r03

codigos_admb/MAE0721b.r04

codigos_admb/MAE0721b.r05

codigos_admb/MAE0721b.r06

codigos_admb/MAE0721b.r07

codigos_admb/MAE0920b

codigos_admb/MAE0920b.b01

codigos_admb/MAE0920b.b02

codigos_admb/MAE0920b.b03

codigos_admb/MAE0920b.b04

codigos_admb/MAE0920b.b05

codigos_admb/MAE0920b.b06

codigos_admb/MAE0920b.b07

codigos_admb/MAE0920b.bar

codigos_admb/MAE0920b.cor

codigos_admb/MAE0920b.cpp

codigos_admb/MAE0920b.eva

codigos_admb/MAE0920b.htp

codigos_admb/MAE0920b.log

codigos_admb/MAE0920b.obj

codigos_admb/MAE0920b.p01

codigos_admb/MAE0920b.p02

codigos_admb/MAE0920b.p03

codigos_admb/MAE0920b.p04

codigos_admb/MAE0920b.p05

codigos_admb/MAE0920b.p06

codigos_admb/MAE0920b.p07

codigos_admb/MAE0920b.r01

codigos_admb/MAE0920b.r02

codigos_admb/MAE0920b.r03

codigos_admb/MAE0920b.r04

codigos_admb/MAE0920b.r05

codigos_admb/MAE0920b.r06

codigos_admb/MAE0920b.r07

codigos_admb/mcmc.csv

Datos_2020_2021/.DS_Store

codigos_admb/fmin.log

codigos_admb/.DS_Store

.DS_Store

ANEXO_I_AnalisisUpdate.Rmd

FigyTab_PrimerInforme_Anch.log

PRIMER_INFORME_ANCH_sept2021.log

PORTADA_ANEXO_I.log

PORTADA_FINAL.log

PORTADA_INICIAL.log

ANEXO_II_AnalisisSensibilidad_CVsyMPDHyCapt.log

FIgyTab_ANEXO_I_AnalisisUpdate.log

CCTPP_EstatusyCBA2022_anch_octubre2021.log
